/* Responsive elements style */
@media only screen and (max-width: 1055px) {
    #search-results {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #search-results li {  
        height: 365px;        
        
        -webkit-box-flex: 0;  
            -ms-flex: 0 0 265px;  
                flex: 0 0 265px;
    }    
}

@media only screen and (max-width: 985px) {
    #search-results li:nth-child(3n) {
        margin-right: 30px;
    }

    #search-results li:nth-child(2n) {
        margin-right: 0;
    }
}    

@media only screen and (max-width: 690px) {
    #search-results {
        padding: 30px 0;
    }
    #search-results li {  
        height: 300px;        
        
        -webkit-box-flex: 0;  
            -ms-flex: 0 0 45%;  
                flex: 0 0 45%;
    }  
    
    .form-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
                
    }
    .form-wrapper .input-wrapper {
        margin: 0 0 20px;
    }

    .form-wrapper button {
        width: 100%;
    }
} 

@media only screen and (max-width: 560px) {
    .movie-details-modal {
        left: 0;
        right: 0;
        -webkit-transform: none;
                transform: none;
        bottom: 5%;  
        top: 5%; 
        overflow-y: auto;     
    }

    .movie-details-modal .modal-content {        
        width: auto;
    }
}    

@media only screen and (max-width: 480px) {
    #search-results li {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        margin-right: 0;
    }

    #search-results li:nth-child(3n) {
        margin-right: 0;
    }

}    